.non-approved-event-box {
    border-bottom: solid 1px rgba(0, 0, 0, 0.24);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.decision-buttons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.decision-buttons .btn {
    border-radius: 0;
    width:45%;
    background-color: rgb(158, 158, 158);
}

.decision-buttons .approve-selected {
    background-color: #5858cc;
}

.decision-buttons .deny-selected {
    background-color: rgb(143, 40, 40);
}

.non-approved-color-picker-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specific-color-btn {
    background-color: #bbb;
}

.approve-input {
    width: 91%;
}

.approve-select {
    margin-top: 95px;
    margin-bottom: 15px;
}