.color-container {
    float: left;
    cursor: pointer;
}

.color-content {
    width: 80px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-div-container {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-div {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: auto;
    float: left;
    background-color: #fff;
}

.color-container p {
    display: block;
}

.color-text-container {
    width: 80px;
    padding-top: 10px;
    text-align: center;
}