.approval-modal-overlay {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #00000054;
    overflow:auto;
    z-index: 1000000;
    padding-top:20px;
}

.approval-modal-box {
    padding: 5px 10px;
    max-width: 700px;
    height: 90vh;
    margin: auto;
    background-color: #FFF;
    z-index: 50001;
    border-radius: 5px;
    -webkit-box-shadow: -4px 25px 200px -68px rgba(0,0,0,0.75);
    -moz-box-shadow: -4px 25px 200px -68px rgba(0,0,0,0.75);
    box-shadow: -4px 25px 200px -68px rgba(0,0,0,0.75);
}

.approval-modal-buttons {
    float: left;
    height: 100%;
}

.approval-modal-buttons div {
    margin-top:5px;
    margin-right: 20px;
}

.approval-modal-buttons div button {
    display: inline-block;
    width:100%;
    margin-top:15px;
}

.approval-modal-events {
    overflow-y: scroll;
    height: 100%;
}